# Database
POSTGRES_HOST="db.lvh.me"
POSTGRES_PORT="5432"
POSTGRES_DB="db"
POSTGRES_PASSWORD="myAwEsOm3pa55@w0rd"
POSTGRES_USER="root"

# Backend
DJANGO_SECRET_KEY="django-insecure-xf%%lvrd#7j^3w12ly#2oh9kut%8mq9)uge=hf5nkuvkes0)4f"
